.feature-rate {
  &__thank-you {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
    h3 {
      font-size: 14px;
      margin: 4px 0;
    }
    p {
      margin: 2px 0;
    }
  }
}
