<ng-container *ngIf="!isHidden">
  <star-rating
    *ngIf="!isRated"
    [starType]="'svg'"
    [rating]="rating"
    (starClickChange)="onRatingChange($event)"
    [hoverEnabled]="true"
    labelText="Like what you see?"
    labelPosition="top"
  ></star-rating>
  <div class="feature-rate__thank-you" *ngIf="isRated">
    <h3>Thank you for rating!</h3>
    <p>Your feedback is important to us.</p>
    <p>
      <a (click)="revise($event)" href="#">Revise your review</a>
    </p>
  </div>
</ng-container>
